

// color variables
$grey: #414042;
$green: #365F3C;
$lime: #81C341;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.container {
	padding-bottom: 40px;

	@include respond-to( 1220px ) {
		padding-bottom: 20px;
	}
}


// header styles
header {
	position: relative;
	background: url(../img/bg-header.png) top center repeat-x;
	background-size: contain;
	text-align: center;
	padding: 30px;
	
	@include respond-to( 768px ) {
		padding: 40px;
	}

	@include respond-to( 960px ) {
		padding: 60px;
	}
}


// wrap div
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}


// padding div that'll resize for larger screens.
.pad {
	padding: 30px 20px;
}



// intro styles
.intro {
	.thermometer {
		margin: 0 auto;
	}

	@include respond-to( 500px ) {
		.thermometer {
			float: right;
			margin: 0 0 0 20px;
		}
	}
	
	@include font-title-light;
	font-size: 1.6em;
	line-height: 1.7em;
}



// colors
.bg-green { background: $green; }
.bg-lime { background: $lime; }



// tool styles
.tool {
	padding: 0;
	
	@include respond-to( 768px ) {
		padding: 20px 40px;
	}

	.calculator {
		padding: 10px 15px 10px;
		color: white;
		@include font-title;

		button, input[type=submit], .btn {
			width: 100%;
			margin: 0 auto;
		}
		
		@include respond-to( 768px ) { 
			margin-top: 30px;
			border-radius: 20px;
			font-size: 1.2em;

			img {
				margin-top: 20px;
			}
		}

		&.loan-rv, &.loan-motorcycle, &.loan-boat {
			display: none;
		}
	}
}



// results styles
.results {
	display: none;
	text-align: center;
	@extend .pad;

	// large title
	h2 {
		font-size: 1.8em;
		color: $green;

		@include respond-to( 768px ) {
			font-size: 3em;
			padding: 10px 20px;
		}

		&.title {
			color: $lime;
		}
	}

	p {
		@include font-title-light;
		font-size: 1.2em;

		strong {
			font-size: 1.4em;
		}

		&.larger {
			font-size: 1.4em;
		}
	}

	p.loan-total {
		display: none;
	}
}



// button styles
input[type=submit], button, .btn {
	@include font-title;
	padding: 15px;
	background: $lime;
	color: white;
	border: 0;
	border-radius: 10px;
	font-size: 1.5em;
	line-height: 1.4em;
	text-transform: uppercase;
	display: block;
	width: 90%;
	cursor: pointer;
	text-align: center;
	position: relative;
	margin: 10px auto;

	span {
		display: block;
	}
	
	&:after {
		content: "";
		position: absolute;
		right: 5px;
		top: 50%;
		width: 30px;
		height: 30px;
		margin-top: -15px;
	}

	&:hover {
		opacity: .9;
	}

	&.go-back {
		background: lighten( $grey, 20% );
		font-size: 1.5em;
		color: white;
	}

	&.calculate {
		background: $green url(../img/button-arrow.png) right center no-repeat;
	}

	@include respond-to( 768px ) {
		max-width: 50%;
		margin: 30px auto;
	}
}



// footer styles
.footer-bar {
	padding: 20px;
	text-align: center;
	border-top: 15px solid $lime;

	&, a {
		color: $grey;
	}

	h2 {
		font-size: 2.4em;
		line-height: 100px;
		text-transform: uppercase;
		color: $lime;
	}

	h4 {
		font-size: 17px;
		@include respond-to( 800px ) { font-size: 26px; }
	}

	.sixty, .fourty {
		text-align: center;
	}

}



.fine-print {
	background: white;
	padding: 0 20px;
	font-size: .8em;
	line-height: 1.3em;
	text-align: left;

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}

